.bco{
    color: #c0fdff;
}

.backG{
    background-image:linear-gradient( to bottom right ,#db00b6, #6a00f4);
}
.backGn{
    background-image:linear-gradient( to bottom right ,#c9ada7, #db00b6);
}

.borderRe{
    border: 0px;
}

