.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
}

/* Mobile View */
@media (max-width: 768px) {
    .nav2 {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        top: -100%;
        bottom: -100vh;
        top: 90px;
        z-index: -2;
        background-color: #ffffffb6;
        flex-direction: column;
        
        gap: 30px;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .nav2.open {
        transform: translateX(0);
    }

    .hamburger {
        display: flex;
    }

    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
