* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdfdfd;
    width: 100%;
    min-height: 100vh;

}


.nav1 p{
   font-size: 35px;
}



.nav {
    z-index: +20;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 0 30px;
    border-bottom: 0.6px solid #d7d7df;
    position: fixed;
    backdrop-filter: blur(30px);



}

/* .nav h3 a{
    text-decoration: none;
    color: black;
} */
.nav2 {
    display: flex;
    gap: 25px;
    padding-top: 15px;
}

.nav2 h4 a {
    text-decoration: none;
    color: black;


}

.nav2 h4:active,
.nav2 h4:hover {
    opacity: 0.3;
    transform: scale(0.9);
    transition: all .25s linear;
    color: #e7e2e2;

}


.nav h3 {
    font-weight: 600;
    font-size: 30px;
    box-sizing: border-box;
}

.nav2 h4 {
    font-weight: 500;

}

#header {
    width: 100%;
    height: 900px;
    display: flex;
    padding: 0px 30px 0 30px;
    background-image: url(./images/Coder-HaiderAli\,\ website\ theme\,\ Haider\ Ali.webp);
    background-size: cover;
    background-repeat: no-repeat;
    





}

.left {
    width: 50%;
    height: auto;
    padding: 420px 0 0 0;
}

.right {
    width: 50%;
    height: auto;
    padding: 250px 0 0 100px;
}

.right .photos {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-image: url(./images/Coder\ Haider-\ Digital\ Marketing.webp);
    background-size: cover;
    background-position: center;
    border: 5px solid #d7d7df;
    object-fit: cover;
    background-position: center;
   


}

/* .right img{
    width: 200px;
} */


.right .rightlink {
    width: 45px;
    height: 300px;
    background-color: #fcfafa;
    position: absolute;
    top: 210px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(72, 69, 129, 0.849);


}

.rightlink a img {
    width: 40px;
}

.rightlink a img:active,
.rightlink a img:hover {
    transform: scale(0.8);
    transition: all .25s linear;
    opacity: 0.5;

}

.left h1 {
    font-size: 90px;
    font-weight: 600;
    line-height: 90px;

}

.left h2 {
    font-weight: 600;
    font-size: 30px;
}

.left p {
    font-weight: 400;
    color: rgb(107, 105, 105);
    width: 75%;

}

#projectsection {
    width: 100%;
    height: 800px;
    background-color: #F4F4F5;
    /* padding: 90px; */

}

#projectsection h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;

}

#projectsection p {
    text-align: center;
    font-weight: 350;
    color: rgb(107, 105, 105);

}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;


}

.projects img {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 11px;
    border: 1.5px solid #d7d7df;

}

.project1,
.project2,
.project3,
.project4,
.project5 {
    width: 300px;
    height: 200px;

}

.procontent,
.procontent2,
.procontent3,
.procontent4,
.procontent5 {
    width: 300px;
    height: 220px;
    position: relative;
    bottom: 220px;
    border-radius: 11px;
    opacity: 0;
    backdrop-filter: blur(3px);



}

.procontent:hover,
.procontent2:hover,
.procontent3:hover,
.procontent4:hover,
.procontent5:hover {
    opacity: 1;
    transition: 0.2s ease-in;
    /* transform: scale(1.2); */

}

h6 {
    position: relative;
    top: 80px;
    left: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #050505d7;
    width: 200px;
}

button {
    position: relative;
    top: 95px;
    left: 80px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 11px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #FFFFFF;
}

button:hover,
button:active {
    opacity: 0.7;

}

#skills {
    width: 100%;
    height: 500px;


}

#skills p {
    text-align: center;
    font-weight: 350;
   
}
.para-skill{
    color: rgb(41, 40, 40)
}
#skills h2 {
    text-align: center;
    font-weight: 650;
    font-size: 50px;
    padding-top: 60px;
}

.skills2 img {
    width: 100px;
}

.skills2 {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#contact h2 {
    font-size: 50px;
    font-weight: 700;

    text-align: center;

}

#contact p {
 
    font-weight: 500;
    text-align: center;
}
.get-head{
    color: #3995ac;
}
.get-para{
    color: #8e969b;
}

.container {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.container input[name='first_name'],
input[name='tel'],
input[name='email'] {
    width: 400px;
    height: 40px;
    padding: 3px 4px;
    border-radius: 6px;
    border: 1px solid rgb(225, 226, 226);
    margin-top: 20px;
    outline: none;
    background-color: #f0f0f0;
    color: #000000;
}

.container input[name='text'] {
    width: 400px;
    height: 250px;
    border-radius: 6px;
  
      border: 1px solid rgb(225, 226, 226);
    margin-top: 20px;
    outline: none;
    background-color: #f0f0f0;
    color: #000000;
}

.inputbtn {
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 11px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    position: relative;
    /* bottom: 30px;
    right: 300px; */
    top: 0;
    left: 0;
    margin-top: 20px;
}

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-top: 0.6px solid #d7d7df;

}

.sociallink a i {
    font-size: 30px;
    color: rgb(59, 55, 55);




}

.sociallink a i:active,
.sociallink a i:hover {
    opacity: 0.7;
}

.content1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0 250px 0;

}

.content1 .cnt1 {
    width: 50%;

}

.content1 .cnt2 h3 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    font-family: "Arima", system-ui;
   

}

.content1 .cnt1 img {
    width: 100%;



}

.content1 .cnt2 {
    width: 50%;
    padding: 0 50px;

}

.content1 .cnt2 p {
    font-family: "Arima", system-ui;
    text-align: left;
    font-size: 19px;
    font-weight: 400;

    line-height: 30px;
   
}

.cnt2-para{
    color: #aaaaacb0;
}
.cnt2-para2{
    color: #aaaaacb0;
}

.content2 {
    width: 100%;
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    font-family: "Arima", system-ui;
}

.content2 .cnt1 {
    width: 50%;

}

.content2 .cnt2 {
    width: 50%;
}

.content2 .cnt1 img {
    width: 100%;
}

.content2 .cnt2 h3 {
    font-family: "Arima", system-ui;
    font-weight: 900;
    font-size: 60px;
    color: #212122;
}

.content2 .cnt2 ul li {
    font-family: "Arima", system-ui;
    font-weight: 600;
    font-size: 19px;
    color: #b6b6b6;
}

#header .right .background img {
    width: 100%;
    position: relative;
    bottom: 240px;
    right: 15px;
}

@media (max-width: 1029px) {
    #header .right .background img {
        visibility: hidden;
    }

    #header .right .background {
        display: none;
    }

}

/* 
2nd image set up profile */

/* content 1 responsive */

@media (max-width: 566px) {
    .content2 {

        flex-wrap: wrap;
        flex-direction: column;

        height: 1000px;



    }

    .content2 .cnt2 h3 {
        font-size: 25px;
    }

    .content2 .cnt2 ul li {
        font-size: 17px;
    }

    .content2 .cnt1 {
        width: 100%;
    }

    .content2 .cnt2 {
        width: 100%;
        padding: 0 60px;
    }

}

/* 
Content 1 responsive */

@media (max-width:871px) {
    .content1 .cnt2 h3 {
        font-size: 25px;
    }

    .content1 .cnt2 p {
        font-size: 15px;
    }

    .content1 .cnt2 {
        padding: 0 10px;

    }

    .content1 {
        padding: 0;
    }
}

@media (max-width:768px) {
    .content1 {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .content1 .cnt1 {

        width: 100%;
    }

    .content1 .cnt2 {
        padding: 0 50px;
        width: 100%;
    }


}

@media (max-width:336px) {
    .content1 .cnt2 p {
        font-size: 12px;
    }
}

@media (max-width:1029px) {
    #projectsection {
        height: 2000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .right {
        padding: 350px 0 0 100px;
    }

    .right .photos {
        width: 300px;
        height: 300px;

    }

    @media (max-width:817px) {
        #header {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .right {
            padding: 20px 100px 0 170px;
            width: 100%;
        }

        .left {
            padding: 0;
            width: 100%;
        }

        .right .photos {
            width: 250px;
            height: 250px;
        }

        .footer .sociallink a i {
            font-size: 19px;
        }
    }

    @media (max-width:470px) {
        .right {
            padding: 0;
            width: 100%;
        }

    }
}

@media (max-width:400px) {
    .left h1 {
        font-size: 60px;


    }

    .left h2 {
        font-size: 20px;
    }

    .left p {
        width: 100%;
    }

    .right .photos {
        width: 200px;
        height: 200px;
    }

    #header {
        padding: 0px 0px 0px 0px;
    }

    
    @media (max-width:326px) {

        .projects {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

        }

        .projects img {
            width: 200px;
        }

        .procontent,
        .procontent2,
        .procontent3,
        .procontent4,
        .procontent5 {
            width: 200px;
        }

        .project1,
        .project2,
        .project3,
        .project4,
        .project5 {
            width: 200px;
        }
    }
}

@media (max-width:456px) {
    .nav {
        padding-left: 10px;
    }

   

    .nav2 {
        gap: 10px;
    }
}

/* Getin touch form */
@media (max-width:869px) {

    .container input[name='first_name'],
    input[name='tel'],
    input[name='email'] {
        width: 300px;
        height: 40px;
        padding: 3px 4px;
        border-radius: 6px;

        margin-top: 20px;
    }

    .container input[name='text'] {
        width: 300px;
        height: 250px;
        border-radius: 6px;

        margin-top: 20px;
    }
}

@media (max-width:475px) {

    .container input[name='first_name'],
    input[name='tel'],
    input[name='email'] {
        width: 200px;
        height: 40px;
        padding: 3px 4px;
        border-radius: 6px;

        margin-top: 20px;
    }

    .container input[name='text'] {
        width: 200px;
        height: 250px;
        border-radius: 6px;
        margin-top: 20px;
    }
}

@media (max-width:344px) {

    form,
    .container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }


    .container input[name='first_name'],
    input[name='tel'],
    input[name='email'] {
        width: 200px;
        height: 40px;
        padding: 3px 4px;
        border-radius: 6px;

        margin-top: 20px;
    }

    .container input[name='text'] {
        width: 200px;
        height: 250px;
        border-radius: 6px;

        margin-top: 20px;
    }
}


body::-webkit-scrollbar{
    width: 9px;
    background-color: #bde0fe;
    
}


body::-webkit-scrollbar-thumb{
   
    background-color: #09477e;
    background: linear-gradient(to bottom right ,#1976D2,#64B5F6);
    border-radius: 30px;
    
   
}
body::-webkit-scrollbar-thumb:hover{
   
  background-color: #09477e;
    background: linear-gradient(to bottom right ,#d1d0d0,#64B5F6);
    border-radius: 30px;
   
}



